In [1]:
import numpy as np
import pandas as pd 
import pandas_profiling

In [2]:
df_aisles = pd.read_csv("./data/aisles/aisles.csv")
df_departments = pd.read_csv("./data/departments/departments.csv")
df_order_products = pd.read_csv("./data/order_products/order_products.csv")
df_orders = pd.read_csv("./data/orders/orders.csv")
df_products = pd.read_csv("./data/products/products.csv")

In [17]:
df_orders

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [18]:
df_order_products

          order_id  product_id  add_to_cart_order
0                2       33120                  1
1                2       28985                  2
2                2        9327                  3
3                2       45918                  4
4                2       30035                  5
...            ...         ...                ...
33819101   3421063       14233                  3
33819102   3421063       35548                  4
33819103   3421070       35951                  1
33819104   3421070       16953                  2
33819105   3421070        4724                  3

[33819106 rows x 3 columns]

In [3]:
df1 = pd.merge(df_orders, df_order_products, on="order_id", how="inner")
df2 = pd.merge(df1, df_products, on="product_id")
df3 = pd.merge(df2, df_aisles, on="aisle_id")
df_all = pd.merge(df3, df_departments, on="department_id")
df_all

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,aisle,department
0,2539329,1,1,2,8,NaN,196,1,Soda,77,7,soft drinks,beverages
1,2398795,1,2,3,7,15.0,196,1,Soda,77,7,soft drinks,beverages
2,473747,1,3,3,12,21.0,196,1,Soda,77,7,soft drinks,beverages
3,2254736,1,4,4,7,29.0,196,1,Soda,77,7,soft drinks,beverages
4,431534,1,5,4,15,28.0,196,1,Soda,77,7,soft drinks,beverages
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33819101,2939884,130327,3,1,13,0.0,27414,5,Organic Emmer Farro,68,10,bulk grains rice dried goods,bulk
33819102,3267360,150683,1,5,16,NaN,27414,13,Organic Emmer Farro,68,10,bulk grains rice dried goods,bulk
33819103,414077,159238,9,6,12,8.0,27414,1,Organic Emmer Farro,68,10,bulk grains rice dried goods,bulk
33819104,813243,171675,13,2,6,13.0,27414,34,Organic Emmer Farro,68,10,bulk grains rice dried goods,bulk
33819105,909758,176580,4,6,15,5.0,27414,15,Organic Emmer Farro,68,10,bulk grains rice dried goods,bulk

In [23]:
df_all.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,aisle_id,department_id
count,3.381911e+07,3.381911e+07,3.381911e+07,3.381911e+07,3.381911e+07,3.174104e+07,3.381911e+07,3.381911e+07,3.381911e+07,3.381911e+07
mean,1.710566e+06,1.029444e+05,1.713998e+01,2.737285e+00,1.343123e+01,1.136415e+01,2.557551e+04,8.367738e+00,7.121799e+01,9.918544e+00
std,9.874008e+05,5.946733e+04,1.749829e+01,2.093296e+00,4.246149e+00,8.940500e+00,1.409770e+04,7.139540e+00,3.819898e+01,6.281655e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.554130e+05,5.143500e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.351900e+04,3.000000e+00,3.100000e+01,4.000000e+00
50%,1.710660e+06,1.026260e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,8.300000e+01,9.000000e+00
75%,2.565587e+06,1.544120e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.070000e+02,1.600000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.340000e+02,2.100000e+01

In [24]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   product_name            object
 9   aisle_id                int64
 10  department_id           int64
 11  aisle                   object
 12  department              object
dtypes: float64(1), int64(9), object(3)
memory usage: 3.5+ GB

In [18]:
print("There are " + str(df_all.product_name.nunique()) + " products that people usually order")

There are 49685 products that people usually order

In [19]:
df_all['product_name'].mode()
print("Products banana are orderd the most")

Products banana are orderd the most

In [34]:
print(df_all.product_name[df_all['add_to_cart_order'].idxmin()] + " is the product that is most likely to be added first in cart")

Soda is the product that is most likely to be added first in cart

In [37]:
print(df_all["order_hour_of_day"].mode())
print("People usually order products at 10 o'clock.")

0    10
dtype: int64
People usually order products at 10 o'clock.